* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.social {
    max-height: 30px;
    max-width: 30px;
    top: -4px;
    position: relative;
}

.navbar-brand {
    padding-left: 15px;
}